<div class="row">
        <div class="col-xs-6">
          <form (ngSubmit)="onSingIn(f)" #f="ngForm">
            <div class="form-group">
              <label for="email">Mail</label>
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                ngModel
              />
            </div>
            <div class="form-group">
              <label for="password">password</label>
              <input
                type="password"
                class="form-control"
                name="password"
                id="password"
                ngModel
              />
            </div>
      
            <button type="submit" class="btn btn-success">Sing In</button>
          </form>
        </div>
      </div>
      